In [1]:
data <- read.table("https://archive.ics.uci.edu/ml/datasets/Bank+Marketing",header=False)
head(data)

ERROR: Error in read.table("https://archive.ics.uci.edu/ml/datasets/Bank+Marketing", : 'False' nesnesi bulunamadı

In [2]:
data <- read.table("https://archive.ics.uci.edu/ml/datasets/Bank+Marketing",header=F)
head(data)

ERROR: Error in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, : 1 . dize 8 öğeye sahip değil

In [3]:
data <- read.csv("https://archive.ics.uci.edu/ml/datasets/Bank+Marketing",header=F)
head(data)

  V1
1 <!DOCTYPE HTML PUBLIC \\-//W3C//DTD HTML 4.01 Transitional//EN\\>
2 <html>
3 <head>
4 <title>UCI Machine Learning Repository: Bank Marketing Data Set</title>
5 <!-- Stylesheet link -->
6 <link rel=stylesheet type=text/css href=../assets/ml.css />

In [4]:
getwd()

[1] "C:/Users/Elif"

In [5]:
path <- file.path("banka.txt")

In [8]:
path <- file.path("Banka.txt")
data <- read.table(path,header=T,row.names=1,sep="\t")
head(data)

Warning message in file(file, "rt"):
"dosya 'Banka.txt' açılamadı: No such file or directory"

ERROR: Error in file(file, "rt"): bağlantı açılamadı

In [9]:
setwd(C:/Users/Elif/Desktop)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:9: beklenmeyen durum, '/'
1: setwd(C:/
            ^

In [10]:
setwd("C:/Users/Elif/Desktop")

In [11]:
getwd()

[1] "C:/Users/Elif/Desktop"

In [12]:
data <- read.table("Banka.txt",header=T,row.names=1,sep="\t")
head(data)

ERROR: Error in read.table("Banka.txt", header = T, row.names = 1, sep = "\t"): duplicate 'row.names' are not allowed

In [13]:
data <- read.table("Banka.txt",header=T,row.names=1,sep="\t")
print(data)

ERROR: Error in read.table("Banka.txt", header = T, row.names = 1, sep = "\t"): duplicate 'row.names' are not allowed

In [14]:
data <- read.table("Banka.txt",header=T,sep="\t")
head(data)

  age job         marital education default balance housing loan contact  day
1 30  unemployed  married primary   no      1787    no      no   cellular 19
2 33  services    married secondary no      4789    yes     yes  cellular 11
3 35  management  single  tertiary  no      1350    yes     no   cellular 16
4 30  management  married tertiary  no      1476    yes     yes  unknown   3
5 59  blue-collar married secondary no         0    yes     no   unknown   5
6 35  management  single  tertiary  no       747    no      no   cellular 23
  month duration campaign pdays previous poutcome y
1 oct    79      1         -1   0        unknown  no
2 may   220      1        339   4        failure  no
3 apr   185      1        330   1        failure  no
4 jun   199      4         -1   0        unknown  no
5 may   226      1         -1   0        unknown  no
6 feb   141      2        176   3        failure  no

In [15]:
data <- read.table("Banka.txt",header=T,row.names=1,sep="\t")
print(data)

ERROR: Error in read.table("Banka.txt", header = T, row.names = 1, sep = "\t"): duplicate 'row.names' are not allowed

In [16]:
data <- read.table("Banka.txt",header=T,sep="\t")
print(data)

     age           job  marital education default balance housing loan
1     30    unemployed  married   primary      no    1787      no   no
2     33      services  married secondary      no    4789     yes  yes
3     35    management   single  tertiary      no    1350     yes   no
4     30    management  married  tertiary      no    1476     yes  yes
5     59   blue-collar  married secondary      no       0     yes   no
6     35    management   single  tertiary      no     747      no   no
7     36 self-employed  married  tertiary      no     307     yes   no
8     39    technician  married secondary      no     147     yes   no
9     41  entrepreneur  married  tertiary      no     221     yes   no
10    43      services  married   primary      no     -88     yes  yes
11    39      services  married secondary      no    9374     yes   no
12    43        admin.  married secondary      no     264     yes   no
13    36    technician  married  tertiary      no    1109      no   no
14    20       student   single secondary      no     502      no   no
15    31   blue-collar  married secondary      no     360     yes  yes
16    40    management  married  tertiary      no     194      no  yes
17    56    technician  married secondary      no    4073      no   no
18    37        admin.   single  tertiary      no    2317     yes   no
19    25   blue-collar   single   primary      no    -221     yes   no
20    31      services  married secondary      no     132      no   no
21    38    management divorced   unknown      no       0     yes   no
22    42    management divorced  tertiary      no      16      no   no
23    44      services   single secondary      no     106      no   no
24    44  entrepreneur  married secondary      no      93      no   no
25    26     housemaid  married  tertiary      no     543      no   no
26    41    management  married  tertiary      no    5883      no   no
27    55   blue-collar  married   primary      no     627     yes   no
28    67       retired  married   unknown      no     696      no   no
29    56 self-employed  married secondary      no     784      no  yes
30    53        admin.  married secondary      no     105      no  yes
31    68       retired divorced secondary      no    4189      no   no
32    31    technician  married secondary      no     171      no   no
33    59    management  married secondary      no      42      no   no
34    32    management   single  tertiary      no    2536     yes   no
35    49    technician  married  tertiary      no    1235      no   no
36    42        admin. divorced secondary      no    1811     yes   no
37    78       retired divorced   primary      no     229      no   no
38    32   blue-collar  married secondary      no    2089     yes   no
39    33    management  married secondary      no    3935     yes   no
40    23      services   single  tertiary      no     363     yes   no
41    38    management   single  tertiary      no   11971     yes   no
42    36    management   single  tertiary      no     553      no   no
43    52   blue-collar  married secondary      no    1117     yes   no
44    32    technician  married  tertiary      no     396     yes   no
45    32    technician   single  tertiary      no    2204     yes   no
46    34    management   single  tertiary      no     872     yes   no
47    55   blue-collar  married   primary      no     145      no   no
48    26   blue-collar  married   primary      no       0     yes   no
49    32  entrepreneur   single   primary     yes    -849     yes  yes
50    61        admin.  married   unknown      no    4629     yes   no
51    45   blue-collar divorced   primary      no     844      no   no
52    37    technician   single secondary      no     228     yes   no
53    38    technician   single secondary      no      50      no   no
54    34    technician  married  tertiary      no    1539     yes   no
55    53   blue-collar  married secondary      no    2231     yes   no
56    48        admin.  married secondary      no    3064     yes   no
57    57    management  married secondary      no      82      no  yes
58    33 self-employed   single  tertiary      no    2155      no   no
59    36       retired   single secondary      no     101     yes  yes
60    54    technician divorced secondary      no     784     yes  yes
61    41   blue-collar  married   primary      no    -516      no  yes
62    63       retired  married secondary      no     415     yes   no
63    48    management  married  tertiary      no    5887      no   no
64    48      services  married secondary      no    1355      no   no
65    56        admin.  married secondary      no   16873      no   no
66    51   blue-collar divorced secondary      no     203     yes   no
67    31      services  married secondary      no     338     yes   no
68    29    technician  married secondary      no     444     yes   no
69    41    management  married secondary      no       0      no  yes
70    32    technician   single  tertiary      no     360      no   no
71    37    management  married  tertiary      no       0      no   no
72    42  entrepreneur divorced  tertiary     yes       2     yes   no
73    31    management   single  tertiary      no    6248     yes   no
74    41      services  married  tertiary      no     412     yes   no
75    56       retired  married secondary      no     344     yes   no
76    54    management divorced  tertiary      no    3222      no   no
77    41   blue-collar divorced secondary      no     174     yes   no
78    40    technician   single secondary      no     591      no  yes
79    50   blue-collar divorced   primary      no     388      no   no
80    40    unemployed  married secondary      no     219     yes   no
81    27        admin. divorced secondary      no     451     yes   no
82    60       retired  married   primary      no       5      no   no
83    28        admin.   single secondary      no     177     yes  yes
84    52      services  married secondary      no     657      no   no
85    37    management  married  tertiary      no    1315      no   no
86    51   blue-collar  married   primary      no    1466     yes   no
87    41    technician   single secondary      no     879      no  yes
88    35   blue-collar   single   primary      no     293     yes   no
89    38        admin.  married secondary      no     424     yes   no
90    34   blue-collar  married secondary      no    1831     yes   no
91    39   blue-collar  married   primary      no     111      no   no
92    34   blue-collar  married   primary      no     455     yes   no
93    27      services   single secondary      no    -195     yes   no
94    32    management   single  tertiary      no    3616      no   no
95    57   blue-collar  married secondary      no   14093      no   no
96    41       unknown   single  tertiary      no    1567      no   no
97    41        admin.  married  tertiary      no    5426     yes   no
98    30        admin.   single  tertiary      no     261      no   no
99    36   blue-collar divorced secondary      no    2843      no   no
100   31    unemployed   single   primary      no     406      no   no
101   36   blue-collar  married secondary      no       0     yes   no
102   38    management   single  tertiary      no     493     yes   no
103   49    technician  married secondary      no    5996      no   no
104   57      services   single   primary      no    3777     yes   no
105   34    management   single secondary      no     524      no   no
106   32    management   single  tertiary      no     574     yes   no
107   37   blue-collar  married secondary      no     427     yes  yes
108   33 self-employed  married  tertiary      no     483     yes   no
109   56    unemployed  married   primary      no    3391      no   no
110   27     housemaid  married   primary      no       0     yes   no
111   21       student   single secondary      no    2488      no   no
112   58    management  married  tertiary      no    1517     yes   no
113   32 self-employed  married secondary      no     217     yes  yes
114   33   blue-collar   single secondary      no      22      no   no
115   25       student   single secondary      no     331      no   no
116   25    technician   single secondary      no     505      no  yes
117   30      services  married secondary      no    1808     yes   no
118   22        admin.   single secondary      no    4111      no  yes
119   39   blue-collar  married   primary      no      52      no   no
120   46    management divorced  tertiary      no      25      no   no
121   31        admin. divorced secondary      no    1890     yes   no
122   45   blue-collar  married   primary      no     419      no   no
123   32    technician  married secondary      no    2693     yes   no
124   36   blue-collar  married secondary      no    -231      no  yes
125   51    management   single  tertiary     yes     -55     yes   no
126   34 self-employed   single  tertiary      no     462      no   no
127   24    unemployed   single secondary      no     119      no   no
128   45    technician   single secondary      no     586      no  yes
129   32   blue-collar   single secondary      no     228      no   no
130   77       retired divorced  tertiary      no    4659      no   no
131   41   blue-collar  married   primary      no     168     yes   no
132   37   blue-collar  married   primary      no       0     yes   no
133   43   blue-collar  married   unknown     yes    -715     yes   no
134   48        admin.  married   unknown      no       0     yes   no
135   27    technician   single secondary      no     769     yes   no
136   33    management   single  tertiary      no       0      no   no
137   29        admin.   single secondary      no     428     yes  yes
138   34    management   single  tertiary      no       0      no   no
139   52    management  married  tertiary      no    -970     yes   no
140   60    management  married   unknown      no    6313      no   no
141   32    management divorced  tertiary      no     948      no   no
142   32    management   single  tertiary      no       0     yes   no
143   56      services divorced   unknown      no    1877     yes   no
144   31    management   single  tertiary      no     874     yes   no
145   42        admin.  married secondary      no     323     yes  yes
146   35    management  married  tertiary      no     106      no  yes
147   56       retired  married   primary      no    1906      no  yes
148   48    technician  married secondary      no    1152     yes   no
149   46        admin.  married secondary      no     179     yes   no
150   37    technician   single   unknown      no     391     yes   no
151   41  entrepreneur  married   unknown      no      89     yes   no
152   36    management   single  tertiary      no     442     yes  yes
153   45    unemployed divorced   primary     yes    -249     yes  yes
154   55  entrepreneur  married secondary      no    8104      no   no
155   39    technician  married secondary      no     501      no   no
156   35    technician divorced secondary      no     308      no   no
157   55        admin.  married secondary      no     602      no   no
158   55    technician  married secondary      no     273     yes   no
159   27 self-employed   single secondary      no      50      no   no
160   34    technician  married secondary      no    1641     yes   no
161   34   blue-collar  married  tertiary      no      20      no   no
162   25        admin.   single secondary      no    4590     yes   no
163   41        admin.   single secondary      no    -256      no  yes
164   43      services  married secondary      no     978     yes  yes
165   28    management   single  tertiary      no      80      no   no
166   31        admin.   single secondary      no    2104     yes   no
167   78     housemaid  married secondary      no     499      no   no
168   45   blue-collar divorced secondary      no    1269     yes   no
169   48    technician  married  tertiary      no     310      no   no
170   32   blue-collar   single secondary      no    1143     yes  yes
171   42    technician  married secondary      no    2980      no   no
172   37    management   single  tertiary      no      37      no   no
173   40        admin.   single secondary      no     462     yes  yes
174   32        admin.  married secondary      no    1031     yes   no
175   42    management  married  tertiary      no    9009      no   no
176   43        admin.  married secondary      no    -465     yes  yes
177   44        admin.  married secondary      no    5181     yes  yes
178   37        admin.  married secondary      no     176     yes   no
179   37       unknown  married   unknown      no    1699      no   no
180   37        admin.  married  tertiary      no       0     yes   no
181   28    technician   single  tertiary      no     172     yes  yes
182   32      services   single secondary      no       0      no  yes
183   34        admin.   single secondary      no    6979     yes   no
184   40        admin. divorced secondary      no       6      no   no
185   34      services  married secondary      no     -62     yes   no
186   34 self-employed  married  tertiary      no    1972     yes   no
187   34        admin.  married  tertiary      no     899     yes   no
188   37      services   single secondary      no      21     yes   no
189   36    technician  married secondary      no      23     yes   no
190   56       retired  married secondary      no   -1206     yes   no
191   49   blue-collar  married   primary      no       0     yes  yes
192   33 self-employed  married secondary      no     215     yes   no
193   30    management   single  tertiary      no    1372      no   no
194   36      services  married secondary      no    1981      no   no
195   23       student   single secondary      no    9216      no   no
196   57       retired divorced secondary      no      39     yes   no
197   27   blue-collar   single secondary      no    5563     yes   no
198   38      services  married secondary      no       1      no  yes
199   42    technician  married  tertiary      no     782      no   no
200   75       retired  married secondary      no    3771      no   no
201   34    technician   single  tertiary      no     992     yes   no
202   48    technician  married secondary      no    1526      no   no
203   35    technician   single  tertiary      no    2658     yes   no
204   39    management divorced  tertiary      no    1315     yes   no
205   29   blue-collar   single  tertiary      no     455      no   no
206   45    technician   single  tertiary      no       0     yes   no
207   42    technician  married secondary      no    2030     yes  yes
208   29    technician  married secondary      no    1599     yes   no
209   38      services   single secondary      no    -196     yes   no
210   56       retired  married secondary      no    1333      no   no
211   36    technician   single secondary      no    9149     yes   no
212   25   blue-collar   single secondary      no    -350     yes   no
213   38    technician  married  tertiary      no     432     yes   no
214   57 self-employed  married secondary      no   11494      no   no
215   31    management  married  tertiary     yes    -253      no   no
216   42    management  married  tertiary      no     372     yes   no
217   45    technician  married secondary      no    1410      no   no
218   30   blue-collar  married secondary      no     975     yes   no
219   49   blue-collar  married   primary      no     305     yes  yes
220   49      services  married secondary      no     400      no   no
221   53       retired  married  tertiary      no     -22     yes   no
222   37    technician  married secondary      no    4030     yes   no
223   49   blue-collar  married   primary      no     365      no   no
224   41 self-employed  married   primary      no     204      no   no
225   54    management  married   primary      no    1691     yes   no
226   32      services   single secondary      no     406     yes   no
227   33    technician  married secondary      no    -204      no   no
228   33    technician  married secondary      no     359     yes   no
229   36   blue-collar  married   primary      no     123     yes   no
230   35    technician  married  tertiary      no       0     yes  yes
231   52       unknown  married secondary      no     142      no   no
232   40  entrepreneur  married  tertiary      no    3571      no   no
233   44    technician   single secondary      no      33     yes   no
234   45   blue-collar   single secondary      no       0     yes   no
235   30       student   single secondary      no    3096      no   no
236   48    technician divorced secondary     yes      20      no   no
237   33   blue-collar  married secondary      no    3576     yes   no
238   57    technician  married   unknown      no     206     yes   no
239   57     housemaid  married   primary      no    7082      no   no
240   51    unemployed  married  tertiary      no    1634     yes   no
241   34        admin.   single secondary      no       1     yes   no
242   50 self-employed  married  tertiary      no    4012      no   no
243   44    management  married  tertiary      no    3762      no   no
244   27        admin.  married secondary      no    -247     yes  yes
245   50   blue-collar  married secondary      no     606     yes   no
246   36    management  married  tertiary      no       0     yes   no
247   42    management  married secondary      no    -189     yes   no
248   32    unemployed   single secondary      no       0      no   no
249   42    management  married  tertiary      no     484     yes   no
250   43    technician  married secondary      no       0      no  yes
251   31    management  married  tertiary      no     395     yes   no
252   32    management  married  tertiary      no    2349      no   no
253   55   blue-collar divorced   primary      no     410      no  yes
254   58       retired  married   primary      no    3401     yes   no
255   46   blue-collar  married   primary      no     222      no   no
256   55   blue-collar  married secondary      no     989     yes  yes
257   34    management  married  tertiary      no     415      no  yes
258   28    unemployed   single secondary      no      16      no   no
259   42    technician divorced  tertiary      no    7190     yes   no
260   29   blue-collar   single secondary      no     482      no  yes
261   54     housemaid  married secondary      no     209     yes  yes
262   32    technician   single secondary      no       0      no   no
263   39    technician   single  tertiary      no    5803      no   no
264   53  entrepreneur  married  tertiary      no     624      no  yes
265   58    technician  married  tertiary      no     883      no   no
266   40 self-employed  married secondary      no    1516     yes  yes
267   29       student   single secondary      no     872     yes   no
268   33    technician  married  tertiary      no    -988     yes  yes
269   38        admin.   single secondary      no     902     yes   no
270   56      services divorced secondary      no    1007      no   no
271   40      services  married secondary      no       0     yes   no
272   24   blue-collar   single secondary      no     174     yes  yes
273   46    management  married secondary      no   12186      no   no
274   35 self-employed  married secondary      no     524     yes   no
275   35   blue-collar   single  tertiary      no       0     yes   no
276   34    technician  married secondary      no       4     yes   no
277   35     housemaid  married  tertiary      no   11219      no   no
278   38    technician   single  tertiary      no       0      no   no
279   50   blue-collar  married   primary      no    5776      no   no
280   51   blue-collar divorced   primary      no      37     yes   no

In [17]:
data <- read.table("banka.txt",header=T,sep="\t")

In [18]:
head(data)

  age job         marital education default balance housing loan contact  day
1 30  unemployed  married primary   no      1787    no      no   cellular 19
2 33  services    married secondary no      4789    yes     yes  cellular 11
3 35  management  single  tertiary  no      1350    yes     no   cellular 16
4 30  management  married tertiary  no      1476    yes     yes  unknown   3
5 59  blue-collar married secondary no         0    yes     no   unknown   5
6 35  management  single  tertiary  no       747    no      no   cellular 23
  month duration campaign pdays previous poutcome y
1 oct    79      1         -1   0        unknown  no
2 may   220      1        339   4        failure  no
3 apr   185      1        330   1        failure  no
4 jun   199      4         -1   0        unknown  no
5 may   226      1         -1   0        unknown  no
6 feb   141      2        176   3        failure  no